$white: #fff;
$gray1: #fafafa;
$gray2: #ececec;
$gray3: #d7d7d7;
$gray4: #ccc;
$gray5: #ddd;
$gray6: #bababa;
$gray7: #666;
$gray8: #333;
$gray9: #999;
$black: #000;

$gray-100: $gray1;
$gray-200: $gray2;
$gray-300: $gray3;
$gray-400: $gray4;
$gray-500: $gray5;
$gray-600: $gray6;
$gray-700: $gray7;
$gray-800: $gray8;
$gray-900: $gray9;

$orange: #e76e04;
$yellow: #ffc80b;
$green: #178d51;
$red: #e56668;

$dark: $black;
$error: $red;
$light: $gray2;
